<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
       @* eikhane onno view gulo ashe boshbe*@
        @RenderBody()
    </div>
</body>
</html>
